# dmiles-commits
.svn
lib0/
lib1
lib2
.cpm/

# intermediate files
make.log
*.bak
pakcsinitrc
.curry

# tex temporary files
*.aux
*.log
*.out
*.nav
*.snm
*.toc
*.tpt
*.vrb
*.pdf
*.blg
*.idx
*.ilg
*.ind
*.tpt
*.synctex.gz
*.backup
*~


# intermediate files
*.bak
make.log
src/pakcsversion.pl
docs/src/version.tex
# dmiles-commits docs/src/tooldocs/casc/curry-style-guide.html
# dmiles-commits lib/
lib/AllLibraries.curry

lib/AllSolutions.curry
lib/AllSolutions.pakcs
lib/AnsiCodes.curry
lib/Array.curry
lib/CPNS.curry
lib/Char.curry
lib/Combinatorial.curry
lib/Debug.curry
lib/Dequeue.curry
lib/Directory.curry
lib/Directory.pakcs
lib/Distribution.curry
lib/Distribution.pakcs
lib/Either.curry
lib/ErrorState.curry
lib/Examples
lib/FileGoodies.curry
lib/FilePath.curry
lib/Findall.curry
lib/Findall.pakcs
lib/FiniteMap.curry
lib/Float.curry
lib/Float.pakcs
lib/Format.curry
lib/Function.curry
lib/FunctionInversion.curry
lib/GetOpt.curry
lib/Global.curry
lib/Global.pakcs
lib/IO.curry
lib/IO.pakcs
lib/IOExts.curry
lib/IOExts.pakcs
lib/Integer.curry
lib/List.curry
lib/Makefile
lib/Maybe.curry
lib/NamedSocket.curry
lib/Nat.curry
lib/Prelude.curry
lib/Prelude.pakcs
lib/Profile.curry
lib/Profile.pakcs
lib/PropertyFile.curry
lib/Random.curry
lib/Read.curry
lib/ReadNumeric.curry
lib/ReadShowTerm.curry
lib/ReadShowTerm.pakcs
lib/RedBlackTree.curry
lib/SCC.curry
lib/SearchTree.curry
lib/SearchTreeGenerators.curry
lib/SearchTreeTraversal.curry
lib/SetFunctions.curry
lib/SetRBT.curry
lib/ShowS.curry
lib/Socket.curry
lib/Socket.pakcs
lib/Sort.curry
lib/State.curry
lib/System.curry
lib/System.pakcs
lib/TableRBT.curry
lib/Test/
lib/Time.curry
lib/Time.pakcs
lib/Traversal.curry
lib/Unsafe.curry
lib/Unsafe.pakcs
lib/VERSION
lib/ValueSequence.curry
lib/test.sh

pkg/
scripts/makesavedstate

# binaries
*.state
# dmiles-commits bin/
bin/swiprolog
bin/curry

cpns/CPNSD
src/prologbasics.pl
src/libsicstus
src/libswi
src/pakcs
tools/Peval/peval
tools/coosy/CoosyGUI
tools/curry2xml
tools/optimize/CompactFlat
tools/optimize/NonStrictOpt
www/Registry
www/submitform

# documentation
docs/src/manual.bbl
docs/src/lib
docs/src/markdown_syntax.tex
# dmiles-commits 
docs/markdown_syntax.html
# dmiles-commits docs/CurryStyleGuide.html
docs/INSTALL.html
docs/GITINSTALL.html
docs/RELNOTES.html

# distribution
pakcs-*.tar.gz
